/*
* Colors:
Lightgreen: #45CCBE
Reddish: #CF5777
Lazy Electric Blue: #5E8CD6
*/


html, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, button, input,select,option,textarea  {font-family:'Lato','Montserrat',Roboto,Helvetica Neue, Helvetica, Arial;}



/* Sidenav */
/*.item-complex .item-content, .item-radio .item-content {background-color:#000;color:#bbb;}
.item {background-color:#000;border-color:#111; color:#bbb;}*/
.menu {background:#000 url(../img/loadman/new_dark.jpg) no-repeat 100% 100%; background-size:100% auto;} 
.menu .scroll{margin-top:10px;} 
.menu .title {text-align:left; font-weight:300;text-transform:uppercase;}
.menu .title span{display:inline-block;margin-right:15px;width:30px; height:30px; line-height:30px;text-align:center; border-radius:100%;background:rgba(255,255,255,.2);}
.menu .item, .menu .item-complex  .item-content {border:none;background:transparent;color:#bbb;}
.menu .item a {color:#bbb;}
.menu .item:active, .menu .item:hover, .menu .item:focus, .menu .item.activated,
.menu .item a:active, .menu .item a:hover, .menu .item a:focus,.menu .item a.activated {background:rgba(255,255,255,.04);}
.menu .item a > .icon {color:#fff;font-size:120%;margin-right:10px; width:20px; display:inline-block; text-align:center;text-shadow:0 0 10px #eee; }
.menu .item .iconimg {width:20px;float:left;margin:2px 15px 0 0;}
.menu .bar-header {background:#111; border-color:#111;font-size:120%;}


/* Background-images */
.bg-black { display:block; height:100%;
    background:-ms-linear-gradient(135deg, #45CCBE 0%,#45CCBE 33%,#5E8CD6 100%);
    background:-webkit-linear-gradient(135deg, #45CCBE 0%,#45CCBE 33%,#5E8CD6 100%);
    background:linear-gradient(135deg, #45CCBE 0%,#45CCBE 33%,#5E8CD6 100%);

}
.bg-black .pane{background:transparent}
.bar-header {border:0 !important;box-shadow: none !important;}
.bg-black .bg-run, .bg-run {background:url(../img/loadman/load.png) no-repeat 25% 50%; background-size:auto 100%;}

/* white navbar 
.bar-light .button.button-clear, .bar-light,.bar-light .button {color:#45CCBE;}
.bar.bar-light .title {color:#45CCBE; font-weight:300; font-size:22px; text-transform:uppercase;}
.bar.bar-light.bar-header {border:0 !important; box-shadow:none !important; -webkit-box-shadow:none !important;}
*/
/* transparent navbar */
.bar-light .button.button-clear, .bar-light,.bar-light .button {color:#FFF; padding-top:4px;border-radius:0;}
.bar.bar-light .title {color:#FFF; font-weight:300; font-size:18px; text-transform:uppercase;}
.bar.bar-light.bar-header {background-image:none; background:transparent !important; border:0 !important;border-color:transparent; box-shadow:none !important; -webkit-box-shadow:none !important;}



/* Gauge */
.center {text-align:center;}
.gaugeWrap  {position:relative;color:rgba(0,0,0,.5);font-size:11px;font-weight:500; margin:20px 0 40px;}
.gaugeWrap.big {
font-size:15px;
font-weight:400; 
margin: 0px auto;
border-radius: 50%;
-webkit-border-radius: 50%;
padding: 0;
background-color:transparent;
}

.gaugeWrap .title { position:relative; color:#fff;}
.gaugeWrap.big .title {font-size:40px; line-height:40px; margin-top:0px; font-family:'Lato',Roboto,Helvetica Neue, Helvetica, Arial;font-weight:300;}
.gaugeWrap.big .title img{height: 20px; float: left; margin: 10px 0 0 10px;}
.gauge-circle {margin:0 auto;border-radius:50%; position:relative;}

.dashwrap {padding:30px 0 10px;position:relative;}
.bigchart {margin:0px auto 0px; display:block;}
.gaugeWrap.big .gauge-circle {
    height: 246px;
    padding: 30px 5px 10px;
    background: transparent;
    width: 246px;
}
.gauge-circle .title-top {
    position: relative;
    top: 30px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 900;
    color:rgba(255,255,255,.9);
    font-family: "Lato",Roboto,Helvetica Neue,Helvetica,Arial;
}

.gaugeWrap.big .title {
    line-height: 130px;
    margin-top: 25px;
    font-family: "Lato",Roboto,Helvetica Neue,Helvetica,Arial;
    font-size: 130px;
    color:#fff;
    font-weight: 100;
    letter-spacing: -10px;
}
.gaugeWrap.big .title img {
    height: 70px;
    margin: -10px 5px 0 0;
    display: inline-block;
    position: relative;
    top: -10px;
    float:none;
}

/* Weeklist */
#week-list-title{color:rgba(255,255,255,.8);font-weight:300; margin:0px 10px 0 0; padding:0; text-align:right;}
.week-list{margin:0 -6px 0px; padding-bottom:0; width:auto;}
.week-list .col {text-align:center;color:rgba(255,255,255,.8); text-decoration:none;padding-bottom:10px;border-style: solid; border-color:rgba(255,255,255,.2); border-width:1px 1px 1px 0; background:transparent; font-size:10px;line-height:12px;padding-top:30px;}

.week-list .col > span {display:block; text-transform:uppercase; font-weight:900;}
.week-list .col .icon{font-size:30px;}
.week-list .col.active {background:#fff; color:#45CCBE;padding-top:0;}

.week-list .col:hover, .week-list .col:active, .week-list .col.activated {background: rgba(255,255,255,.2)}
.week-list .col.active:hover, .week-list .col.active:active, .week-list .col.active.activated {background: #45CCBE;color:#FFF;}



/* Chart */
.chartwrap {margin:0px auto 0;}
#chart_div { font-family:'Lato','Roboto','Helvetica',Arial; position:relative; text-transform:uppercase;}
.canvasjs-chart-tooltip > div {padding:8px !important; opacity:0.8;background:#4BBDC3 !important;}
.canvasjs-chart-tooltip,  .canvasjs-chart-tooltip > div{box-shadow:none !important;color:#FFF !important; border:0 !important;  font-family:'Lato' !important; font-style:normal !important; text-shadow:none !important; border-radius:0 !important;}
.canvasjs-chart-tooltip{border:1px solid rgba(255,255,255,.7) !important; padding-left:30px !important; padding-right:30px !important; border-radius:30px !important;background:#4BBDC3 !important;opacity:0.89;}
.canvasjs-chart-credit {display:none !important;}

.bignumbrow {padding:0; background: #45CCBE;}
.bignumbrow .col:first-child {border-right:1px solid rgba(255,255,255, 0.3)}
.bignumbrow .col {text-align:center;}
.bignum {color:#eee; margin:0; font-weight:normal; font-family:'Lato'; font-size:50px;line-height:60px;}
.help  {color:#FFF;}

.numWrap {margin-top:-7px;}
.numWrap.left {text-align:left;}
.numWrap.right {text-align:right;}
.numWrap h3 {text-transform:uppercase; font-weight:900;font-size:11px;white-space:nowrap;margin-bottom:0;color:rgba(0, 0, 0,.35)}
.numWrap .num{color:#fff;font-size:25px;line-height:30px;color:#fff;font-weight:300;}
.numWrap .numicon  {font-size:30px;color:#45CCBE;}
.numWrap .numicon.down  {color:#CF5777;}
.bordercol {border-right:1px solid rgba(255,255,255,.1);padding-bottom:0 !important;}

@media (min-height: 390px) {
	.bottom-info {position:absolute; bottom:0px;width:100%;}
	.fullheight .scroll {min-height:100%;}
	.numrow{position:absolute;bottom:0px;}


}

.slider-pager .slider-pager-page {color:#FFF;}
.fullheight .slider, .fullheight .slider-slides {min-height:100%;}
.fullheight .slider-slide {min-height:90%;min-height: 88vh;}

/* CALENDAR / HISTORY */
#list_days .item, #list_months .item {border-color:rgba(255,255,255,0.1);background:transparent;border-width:0 0 1px 0;margin:0;}
#list_days .item-complex .item-content {padding-right:15px;background:transparent;}
#list_days span.wrap {
	width: 13%;
	width: 13.284%;
	float:left;
	margin: 0 1% 0 0;
	position: relative;
    display:block; 
    min-height: 10px; 
}
#list_days a span.wrap:last-child {margin-right:0;}
#list_days span > a {
    background: none repeat scroll 0 0 transparent;
    border-radius: 100%;
    color: rgba(255,255,255,.7);
    display: block;
	margin:0 auto;
    font-size: 14px;
    font-weight:normal;
	font-family:Lato;
	width: 36px;
    height: 36px;
    line-height: 34px;
    padding: 0;
    text-align: center;
	text-decoration:none;
	border:1px solid transparent;

}
#list_days span > a.weekend {color: rgba(0,0,0,.2);}
#list_days span > a.has_events {color:rgba(255,255,255,.9);font-weight:600;border-color:rgba(255,255,255,.9); }
#list_days span > a.filled {background-color:#FFF; color:#4BBDC3;}

#list_days .month {background:transparent;display:inline-block;width:100%;padding-top:20px;border-bottom:0;}
#list_days .monthpadding {padding-bottom:60px;}
#list_days .month h2 {color:rgba(255,255,255,.5); font-weight:300; text-align:right; line-height:30px;  margin:0px 0 0 ; padding:0 20px 0 0;font-size:18px; text-transform:uppercase;font-family: Lato;}
#list_days .month h2.count {float:left;  text-align:left; color:#FFF ;  margin:0 0 0 15px}
#list_days .month h2.count img{height: 24px; float: left; margin:0 5px 0;}
#list_days .month h2.count.badge {padding:4px 10px 4px 5px; font-size:16px; line-height:24px; position:relative;top:auto;left:auto; right:auto; margin-top:-2px;}

#list_trainings .item:before{display:block;content:""; width:1px; height:100%; min-height:101px; background:rgba(255,255,255,.4); background:linear-gradient(180deg, rgba(255,255,255,.2) 0%, rgba(255,255,255,.5) 20px, rgba(255,255,255,.2) 100%); position:absolute; left:24px;top:0; box-shadow:0 0 6px rgba(255,255,255,0.5);}
#list_trainings .item {border-color:rgba(255,255,255,.1);background:transparent;border-width:0 0 0 0;margin:0; padding-left:50px; width:100%;height:100%;}
#list_trainings .item.first:before {top:25px;}
#list_trainings .item a {display:block; text-decoration:none; font-family:Lato; color:#FFF;font-weight:300;font-size:120%;text-transform:uppercase; margin-bottom: 25px; clear:both;}
#list_trainings .item a:before {display:block;content:""; width:9px; height:9px;box-shadow:0 0 8px rgba(255,255,255,0.7); border-radius:100%; -webkit-border-radius:100%; background:#FFF;position:absolute; left:20px;top:21px;}
#list_trainings .item a span{ font-weight:900; font-size:55%; font-family:Lato; color:rgba(0,0,0,.35);display:block;}

#list_trainings .item a .trainicons {float:right;margin-top:-6px;}
#list_trainings .item a .trainicon { display:inline-block; width:28px; height:28px; margin:0px 5px 0 0; }
#list_trainings .item .treenicon {float:left; background:#fff;color:#45CCBE; font-size:17px; border-radius:50%;display:inline-block; width:28px; height:28px; line-height:28px; text-align:center;  }

#list_trainings .item .day-offset { padding-right:20px; color:rgba(255,255,255,.4); line-height:28px; font-size:70%; font-weight:400; display: block; margin:0; text-align: right; width:100%; top:55%;left:0;position:absolute;}
#list_trainings .item .day-offset span.count {font-weight:900;color:rgba(255,255,255,.8);font-size:13px;line-height: 26px;}
#list_trainings .item .day-offset .icon {font-size:22px; line-height:26px; float:none; margin: 0 3px 0px 0; position:relative;top:2px;color:rgba(255,255,255,.6);/* border-radius:100%; border:1px solid rgba(255,255,255,.6); width:30px;height:30px;*/ }
#list_trainings .item .day-offset:after {animation: animateline 4s; content:''; display:block; position: absolute;left:25px;height: 1px;width:100%;/*border-bottom:1px solid rgba(255,255,255,.1); */ box-shadow:0 0 6px rgba(255,255,255,0.3); background:linear-gradient(90deg, rgba(255,255,255,.2) 0%, rgba(255,255,255,.6) 100%);}

#list_trainings .item.dot-2 a:before { width:11px; height:11px;left:19px;top:20px; }
#list_trainings .item.dot-3 a:before { width:13px; height:13px;left:18px;top:19px; }
#list_trainings .item.dot-4 a:before { width:15px; height:15px;left:17px;top:18px; }
#list_trainings .item.dot-4 a:before { width:17px; height:17px;left:16px;top:17px; }

/* EXPERIMENTAL: Animate day offset */
#list_trainings .item .day-offset .text{
    position:relative;
    animation: animatetext 3s linear 1s ;
    -webkit-animation: animatetext 3s linear 1s ;
}
#list_trainings .item .day-offset:after {
    animation: animateline 3s; 
    -webkit-animation: animateline 3s; 
}


#list_trainings .item:before{
    
    animation: animateline2 5s; 
    -webkit-animation: animateline2 5s; 
    

}

@keyframes animateline {
    from {width:0;}
    to {width:100%;}
}
@-webkit-keyframes animateline {
    from {width:0;}
    to {width:100%;}
}

@keyframes animatetext {
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes animatetext {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes animateline2 {
    from {height:0;}
    to {height:100%;}
}

@-webkit-keyframes animateline2 {
    from {height:0;}
    to {height:100%;}
}


/* List Months */

#list_months .month {background:transparent;display:inline-block;width:100%;padding:0px;  margin:0;color:rgba(255,255,255,.9);border-bottom:0; overflow:visible;}
#list_months .month .item-content{background:transparent;padding:15px 30px 15px 15px; line-height:35px; overflow:visible; border-bottom:0;}
#list_months .month:nth-child(2n) a{background:rgba(255,255,255,.08);}
#list_months .month a.activated {background:rgba(255,255,255,.2);}

#list_months .month h2 {color:rgba(255,255,255,.8); font-weight:300; display:inline-block;  margin:9px 0 0 ; padding:0 20px 0 0;font-size:18px; text-transform:uppercase;font-family: Lato;}
#list_months .month h2.count {float:right;  text-align:left; color:#FFF ;  margin:0 15px 0;}
#list_months .month h2.count img{height: 22px; float: left; margin:0 5px;}
#list_months .month .count.badge-light{ color:#FFF; color:rgba(255,255,255,.8); float:none; margin:0px 20px 0 0; font-size:26px; line-height:40px; font-weight:300; background: transparent;padding:0;  position:absolute;top:13px;left:auto; right:30px;}
#list_months .month .count.badge-light span{ display:block;color:rgba(0,0,0,.2);margin:5px 0 0 5px; font-weight:900; font-size:40%; text-transform: uppercase;}
#list_months .month .icon {color:rgba(255,255,255,.2);}

/* Single month */
#list_days .month.single {padding-top:0px;}
#list_days .month.single h2.count {margin-bottom:20px; float:none;  text-align:right;}

.stats-slide {padding-top:50px;}
#trainvar {margin-left:10px;}
.trainingList span {display: block;color:#FFF; font-size:16px; margin:10px 0; }
.trainingList span .treenicon {font-size:130%;width:20px;text-alig:center;display:inline-block; margin-right:15px; opacity:0.6;}


/* Detail Date Page */
.datepage .nav-bar.bar .title {font-family:Lato;}
.treeni h2 {color:#fff;font-size:23px; margin:0 auto 10px; font-weight:100; font-family:Lato; text-align:center; text-transform:uppercase;}
.treeni h2 img {height:20px;margin:0 5px 0 0;}
.treeni .num{font-family:Lato; font-size:25px;text-align:center;color:#EEE;}
.treeni {color:#EEE; margin:15px 0 ; padding:15px 0; border-bottom:1px solid rgba(255,255,255,.2);clear:both;}
.datecircle {margin: 20px auto 10px; color: #45CCBE; background: #FFF; line-height:110px; display: block; border-radius: 50%; font-family: Lato; text-align: center; height: 110px; width: 110px; font-size: 18px;}



.traintypes .item {

	background-repeat: no-repeat;
	background-size: auto 30px;
	background-position: 10px 50%;
	font-size:125%;font-weight:300; text-transform:uppercase;
	color:rgba(255,255,255,0.7);
	background-color:transparent; border-color:rgba(0,0,0,.02);
	line-height:34px;
}
.traintypes .item .treenicon {float:left; background:rgba(255,255,255,.85);color:#45CCBE;color:#aaa; font-size:25px; border-radius:50%;display:inline-block; width:34px; height:34px; line-height:34px; text-align:center;  margin-right:20px;}
.traintypes .item .treenicon.flaticon-abdominals, .traintypes .item .treenicon.flaticon-gymnast41 {font-size:32px;}

.traintypes .item .toggle .track {border-color:rgba(255,255,255,.03);background:rgba(255,255,255,.3);}
.traintypes .toggle input:checked + .track {border-color:rgba(0,0,0,.03);background:rgba(0,0,0,.3);}

.traintypes .item.active .treenicon {background:#FFF; color:#45CCBE;}

.traintypes .item.active {color:#fff;background-color:transparent;}
.traintypes .item-toggle .toggle {top:15.5px;}


.button.button-light.button-outline {color:#FFF; border-color:#FFF;}
.button.button-light.button-outline.activated {background:rgba(255,255,255,.3);}
.treenibtn {font-weight:300; text-transform:uppercase; border-color:#FFF; color:#FFF; }
.addtreeni {margin:20px auto; display:block;}
.center {text-align:center;}
.buttonset {margin-bottom:30px;}
.trash {color:rgba(0,0,0,.3); float:right;margin:0 0px 0 0;padding:2px 30px;}


 @media screen and (orientation:landscape) {

    .bg-black .bg-run, .bg-run { background-size: 140% auto;}
}

