<ion-view title="Listaus">
  

  <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

<!--
  <ion-nav-buttons side="right">
    <button ng-click="" class="button button-icon icon ion-ios7-plus-empty"></button>
  </ion-nav-buttons>
-->

 <ion-content class="has-header" overflow-scroll="true">
   	<ion-list id="list_trainings">
      <ion-item ng-repeat="daygroup in days" ng-style="{height: getItemHeight(daygroup, $index)+'px'}" class="month item dot-{{daygroup.data.length}}" ng-class="{first: $index==0}">
			 <a ng-repeat="day in daygroup.data" ng-href="#/app/timeline/{{day.date}}"><span ng-if="$index<=0" >{{day.date}}</span> 

<span class="trainicons">
          <span class="trainicon" ng-repeat="traintype in traintypes" ng-if="day.traintype[traintype.id]" >
            <i class="treenicon flaticon-{{traintype.icon}}"></i>
          </span>
 </span>
        {{day.hourtype}}
        

        

       </a>

       <span class="day-offset" ng-if="getDayOffset(daygroup, $index) >= 1"><span class="text"> <i class="icon ion-ios7-clock-outline"></i> <span class="count">{{getDayOffset(daygroup, $index)}}</span> pv taukoa</span></span>
      </ion-item>
    </ion-list>
	


  </ion-content>	
	

</ion-view>
