<ion-view title="Kuukausi">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

 <ion-content class="has-header" overflow-scroll="true">

 <ion-list id="list_months">
  <ion-item ng-repeat="month in months" ng-href="#/app/month/{{month.year}}/{{month.monthIndex-1}}" class="month item-icon-right">
    <h2>{{month.title}}</h2>
    <!-- ng-class="{'badge-assertive': month.total<10, 'badge-energized':month.total <15 && month.total > 9, 'badge-balanced':month.total>14 }" -->
    <span class="count badge badge-light"  ><!--<img src="img/squaredot_white.png" />--> {{month.total}} <span>treeniä</span></span>
    <i class="icon ion-ios7-arrow-right"></i>
  </ion-item>

</ion-list>


  </ion-content>  
</ion-view>
