<ion-view title="Päivä" >


  <ion-nav-buttons side="right">
   <!-- <button ng-click="" class="button button-icon icon ion-compose"></button>-->
  </ion-nav-buttons>


  <ion-content class="has-header" overflow-scroll="true" >

		
    <div class="datecircle"> {{date}}</div>

	<div class="treeni" ng-repeat="treeni in treenit">
	
		
		
		<h2>{{treeni.hourtype}} <a ng-show="treeni.manual" ng-click="removeTraining(treeni.id)" class="trash"><i class="icon ion-ios7-trash"></i></a></h2>
		
		<div class="clearfix"></div>
		
		
		<h3 class="num" ng-show="{{treeni.duration}}"><i class="ion-ios7-timer-outline"></i> {{treeni.duration[0]}}h {{treeni.duration[1]}}min</h3>
		
		<!--
		<label class="item item-input" style="background:transparent;  border-width:0;">
			<input style="background:transparent; border-width:0 0 1px;" type="text" placeholder="Tietoja treenistä">
		</label>
		-->
		
		<ul class="list traintypes">

			<li ng-repeat="traintype in traintypes" ng-class="{active: treeni.traintype[traintype.id]}" class="item item-toggle">
				 <i class="treenicon flaticon-{{traintype.icon}}"></i>
				 {{traintype.name}}
				 <label class="toggle"  ng-click="$active.$index=!$active.$index; updateTrainType(treeni.id,traintype.id,$active.$index)">
				   <input type="checkbox" ng-model="treeni.traintype[traintype.id]" >
				   <div class="track" >
					 <div class="handle"></div>
				   </div>
				 </label>
			</li>
		</ul>
		
		
		<div class="clearfix"></div>

	</div>
	<div ng-show="!future">
		<button ng-click="showBtns=!showBtns" class="button button-large button-outline button-light icon-left ion-ios7-plus-empty treenibtn addtreeni">Lisää treeni</button>

		<div ng-show="showBtns" class="center buttonset">
			<button ng-click="addTraining('kuntosali')" class="button button-outline button-light treenibtn">Kuntosali</button>
			<button ng-click="addTraining('muu treeni')" class="button button-outline button-light treenibtn">Muu treeni</button>
		</div>
	</div>

  </ion-content>
</ion-view>
