<ion-view title="Treenit" class="bg-run bg">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header fullheight" >
    

<div class="dashwrap" ng-click="flag=!flag;updateChart(flag)">
		<canvas id="dashChartWeek" class="bigchart" width="250" height="250"></canvas>
		<div style="position:absolute;top:17px;left:0; width: 100%;z-index:999;">
				<div class="center gaugeWrap big" >
					<div class="gauge-circle">
					<span class="title-top">{{currentActivity.title}}</span>
					<div class="title" ><img  src="img/squaredot_white.png" />{{currentActivity.num}}</div>
					</div>
				</div>
		</div>
</div>





<div class="bottom-info">
	<h3 id="week-list-title">{{lastDaysActivity.length}} päivää</h3>
	<div class="row week-list">
		<a ng-repeat="day in lastDaysActivity" class="col" ng-class="{active: day.active}" ng-href="#/app/timeline/{{day.fullDate}}">
				<i class="icon ion-ios7-checkmark-empty" ng-if="day.active"></i> 
				<span>{{day.name}}</span> 
				{{day.date}}
		</a>
	</div>
</div>

  </ion-content>
</ion-view>
