<ion-view title="Treenit" class="bg bg-black">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header bg-run fullheight">
    

<div style="position:relative" ng-click="flag=!flag;updateChart(flag)">
		<canvas id="dashChartWeek" class="bigchart" width="270" height="270"></canvas>
		<div style="position:absolute;top:17px;left:0; width: 100%;z-index:999;">
				<div class="center gaugeWrap big" >
					<div class="gauge-circle">
					<span class="title-top">{{currentActivity.title}}</span>
					<div class="title" ><img  src="img/squaredot_white.png" />{{currentActivity.num}}</div>
					</div>
				</div>
		</div>
</div>





<div class="bottom-info">
	<h3 id="week-list-title">5 päivää</h3>
	<div class="row week-list">
		<div class="col"> <span>la</span> 26</div>
		<div class="col active"><i class="icon ion-ios7-checkmark-empty"></i> <span>pe</span> 25</div>
		<div class="col active"><i class="icon ion-ios7-checkmark-empty"></i><span>to</span> 24</div>
		<div class="col"> <span>ke</span> 23</div>
		<div class="col"> <span>ti</span> 22</div>
	</div>
</div>

  </ion-content>
</ion-view>
