<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-light nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-arrow-left-c"></i> &nbsp;</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right" class="bg bg-black"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-calm ">
      <h1 class="title"><span><i class="icon ion-ios7-person"></i></span> {{currentuser.name}}</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
      <!--
        <ion-item nav-clear menu-close ng-click="login()">
           <img src="img/squaredot_white.png" class="iconimg" /> LoginModal
        </ion-item>
      -->
        <ion-item nav-clear menu-close href="#/app/dash">
           <i class="icon ion-ios7-speedometer-outline"></i> Treenit 
        </ion-item>
      <!--
        <ion-item nav-clear menu-close href="#/app/playlists">
           <i class="icon ion-ios7-calendar"></i> Kalenteri
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/timeline">
           <i class="icon ion-ios7-calendar-outline"></i> Kalenteri <span class="badge badge-assertive">new</span>
        </ion-item>
      -->
        <ion-item nav-clear menu-close href="#/app/months">
           <i class="icon ion-ios7-calendar-outline"></i> Kuukausi
        </ion-item>


        <ion-item nav-clear menu-close href="#/app/timelinelist">
           <i class="icon ion-more"></i> Aikajana
        </ion-item>


        <ion-item nav-clear menu-close href="#/app/pulse">
           <i class="icon ion-ios7-pulse"></i> Aktiivisuus
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/timer">
           <i class="icon ion-ios7-timer-outline"></i> Sekuntikello
        </ion-item>


        <ion-item nav-clear menu-close href="#/app/intro">
           <i class="icon ion-ios7-person"></i> Kirjaudu
        </ion-item>

        
    <!--     <ion-item nav-clear menu-close href="#/app/browse">
           <i class="icon ion-code"></i> Debug
        </ion-item> -->

      </ion-list>

      <div class="item" style="margin-top:20px; ">Viime treenistä <span class="badge new-trainings" ng-class="{'badge-assertive':lastvisit>=8, 'badge-energized':(lastvisit>=4 && lastvisit<7), 'badge-calm': (lastvisit>=2 && lastvisit<4), 'badge-positive': lastvisit<2}">{{lastvisit}} pv</span></div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
